/* Variáveis de fonte e cor */
:root {
    --ff-logo:'Century Gothic', sans-serif;
    --ff-text:'Arial Narrow', sans-serif;

    --color-accent: #8b0000;
    --color-hover: #740101;
    --color-active:#F50707;
    --light: #ffffff;
    --background:#fafafa;
    --gray:#f0eeee;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

section {
	padding:40px 0;
	border-bottom: none;
}

.text-logo {
    font-family: var(--ff-logo);
}

/* Botão de Pesquisa*/
.btn-search {
    background-color: var(--color-accent);
    color: var(--light);
}

.btn-search:hover{
    background-color: var(--color-hover);
    color: var(--light);
}

.btn-search:active{
    background-color: var(--color-active);
    color: var(--light);
}

/* Botão Voltar */
.btn-back {
    background-color: var(--color-accent);
    color: var(--light);
}

.btn-back:hover{
    background-color: var(--color-hover);
    color: var(--light);
}

.btn-back:active{
    background-color: var(--color-active);
    color: var(--light);
}

/* Cor do Cabeçalho e do Rodapé*/
.navbar, 
footer {
	background: var(--color-accent);
}

footer {
    position: fixed;
    bottom: 0;
}