/* Variáveis de fonte e cor */
:root {
    --ff-logo:'Century Gothic', sans-serif;
    --ff-text:'Arial Narrow', sans-serif;

    --color-accent: #8b0000;
    --color-hover: #740101;
    --color-active:#F50707;
    --light: #ffffff;
    --background:#fafafa;
    --gray:#f0eeee;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

section {
	padding:40px 0;
	border-bottom: none;
}

.text-logo {
    font-family: var(--ff-logo);
}

/*Caixa de Pesquisa*/

.pesquisa{
    background: var(--light);
    height: 40px;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fa-search {
    color: var(--light);
}

.pesquisa:hover > .search-txt{
    width: 150px;
    padding: 0 3px;
}

.search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--light);
    background-color:var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #000000;
    font-size: 18px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}

.navbar, 
footer {
	background: var(--color-accent);
}