/* Botões de Mais e Badges */
.btn-more, 
.badge {
    background-color: var(--color-accent);
    color: var(--light);
}

.btn-more:hover{
    background-color: var(--color-hover);
    color: var(--light);
}

.btn-more:active{
    background-color: var(--color-active);
    color: var(--light);
}

/* Seção Novidades */

.title-news a {
    color: var(--color-accent);
}

.title-news a:hover {
    color: var(--color-hover);
    text-decoration: none;
}

.title-news a:active {
    color: var(--color-active);
}

/* Seção sobre */
.fab {
    color: var(--color-accent);
    transition: all 0.4s ease-out;
}

.fab:hover {
    color: var(--color-hover);
    transform: translateY(-10px);
}

.fab:active {
    color: var(--color-active);
}
