@use 'variables';
@use 'mixins' as *;

:host {
  @include section-container;
}

p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

// main layout
.news-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: start;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

// news section
.news-card {
  display: flex;
  background-color: var(--light);
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

  @include mobile-only {
    flex-direction: column;
  }
}

.news-img-wrapper {
  width: 35%;
  flex-shrink: 0;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mobile-only {
    width: 100%;
    height: 200px;
  }
}

.news-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.news-title {
  font-family: var(--ff-title);
  font-size: 1.1rem;
  margin-bottom: 5px;

  a {
    color: var(--color-accent);
    font-weight: bold;

    &:hover {
      color: var(--color-hover);
    }
    &:active {
      color: var(--color-active);
    }
  }
}

.news-meta {
  font-size: 0.8rem;
  color: var(--dark-gray);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.news-text {
  @include text-clamp(3);
  margin-bottom: 20px;
}



// about section
.about-card {
  background-color: var(--light);
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #eee;
  margin: 80px 0;

  h3 {
    font-family: var(--ff-title);
    font-size: 1.5rem;
    color: var(--color-accent);
    margin: 10px 0 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }

  hr {
    margin: 20px auto;
  }
}

.team-list {
  margin-bottom: 30px;
  p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.social-links {
  @include flex-center;
  margin: 5px auto;
  gap: 20px;

  a {
    color: var(--dark-gray);
    transition: all 0.4s ease-out;
    &:hover {
      color: var(--color-accent);
      transform: translateY(-10px);
    }
  }
}
