<p>home works!</p>
<section id="making-of">
  <div class="container">
    <div class="row">
      <h2 class="display-8 mb-3">Entrevistas & Making Of</h2>
      <app-makingof-card></app-makingof-card>
      <!--plus btn-->
    </div>
  </div>
</section>

<section id="news">
  <div class="container">
    <div class="row">
      <article class="news col-md-8">
        <h2 class="display-8 mb-3">Novidades</h2>
        <app-news-card></app-news-card>
        <!--plus btn-->
      </article>
      <aside class="card mt-5 p-5 col-md-4">
        <app-about></app-about>
      </aside>
    </div>
  </div>
</section>