.navbar {
	background: var(--color-accent);
}

/**/
.navbar-toggler-icon {
  color: var(--light);
}
/* Search icon */
.btn-search {
  background-color: var(--color-accent);
}

.btn-search:hover{
  background-color: var(--color-hover);
}

.btn-search:active{
  background-color: var(--color-active);
}
