.btn-back {
  background-color: var(--color-accent);
  color: var(--light);
}

.btn-back:hover{
  background-color: var(--color-hover);
  color: var(--light);
}

.btn-back:active{
  background-color: var(--color-active);
  color: var(--light);
}
