@use 'variables';
@use 'mixins' as *;
@use 'components' as comp;

.releases-section, .section {
  min-height: calc(100vh - 64px);
  background-color: var(--color-accent);
  font-family: var(--ff-text);
  @include flex-center;
  padding: 20px;

  @include comp.movie-showcase-component;
}
