@use '../../../../../assets/styles/variables';
@use '../../../../../assets/styles/mixins';

.releases-section, .section {
  min-height: calc(100vh - 64px);
  background-color: var(--color-accent);

  @include mixins.flex-center;
  padding: 20px;
}

.section-title {
  @include mixins.border-title(var(--color-active), 2.5rem);
  color: var(--light);
}
