<section class="section">
  <div class="container">
    <h2 class="section-title-dark">Latest Reviews</h2>

    <div class="reviews-grid">
      @for (review of reviewsDisplay(); track review.author) {
      <div class="review-card">
        <div class="review-header">
          <img [src]="review.avatar"
               [alt]="review.author"
               class="user-avatar"
               (error)="handleImageError($event, review.author)">
          <div>
            <h4 class="user-name">{{ review.author }}</h4>
            <span class="movie-tag">Watched: <strong>{{ review.movieTitle }}</strong></span>
          </div>
        </div>

        <div class="review-body">
          <p class="review-text">"{{ review.content }}"</p>
          <div class="rating-area">
              <div class="stars">
                @for (star of review.stars; track $index) {
                  <span class="star filled">★</span>
                }
                @for (star of review.emptyStars; track $index) {
                  <span class="star empty">☆</span>
                }
              </div>
              <span class="date">{{ review.date | date:'MM/dd/yyyy' }}</span>
            </div>
        </div>
      </div>
      }
    </div>

    <div class="actions">
      <a class="btn-more" routerLink="/reviews">+ Reviews</a>
    </div>
  </div>
</section>
