@use '@angular/material' as mat;
@use 'variables';
@use 'mixins';
@use 'components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  font-family: var(--ff-text);
  color: var(--dark-gray);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  color: var(--color-title);
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.section {
  padding: 30px 0;
  width: 100%;
  min-height: 50vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.group-title {
  font-family: var(--ff-title);
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--color-title);

  border-left: 5px solid var(--color-accent);
  padding-left: 15px;
  line-height: 1.2;
}

.section-title-dark {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  border-left: 5px solid var(--color-accent);
  padding-left: 15px;
  line-height: 1.2;
}

.btn-base {
  background-color: var(--color-accent);
  color: var(--light);
  transition:
    background 0.3s,
    transform 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-hover);
    color: var(--light);
  }
  &:active {
    background-color: var(--color-active);
  }
}

.badges-area {
  margin-top: auto;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  .badge {
    background-color: var(--gray);
    color: var(--dark-gray);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.mat-toolbar.mat-primary {
  background-color: var(--color-accent);
  color: var(--light);
}

.btn-search,
.btn-back,
.btn-more {
  @extend .btn-base;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  width: 100%;
}

.btn-more,
.btn-back {
  @extend .btn-base;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

.navbar {
  background: var(--color-accent);
}

footer {
  bottom: 0;
}
