@use '@angular/material' as mat;
@use 'assets/styles/variables';

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

section {
	padding:40px 0;
	border-bottom: none;
}

.text-logo {
    font-family: var(--ff-title);
}

.mat-toolbar.mat-primary,
.btn-search {
    background-color: var(--color-accent);
    color: var(--light);
}

.btn-search:hover{
    background-color: var(--color-hover);
    color: var(--light);
}

.btn-search:active{
    background-color: var(--color-active);
    color: var(--light);
}

.btn-back {
    background-color: var(--color-accent);
    color: var(--light);
}

.btn-back:hover{
    background-color: var(--color-hover);
    color: var(--light);
}

.btn-back:active{
    background-color: var(--color-active);
    color: var(--light);
}

.navbar,
footer {
	background: var(--color-accent);
}

footer {
    position: fixed;
    bottom: 0;
}
