:root {
  --ff-title: 'Century Gothic', sans-serif;
  --ff-text: 'Arial Narrow', sans-serif;

  --color-title: #333;
  --color-accent: #8b0000;
  --color-hover: #740101;
  --color-active: #f50707;
  --light: #ffffff;
  --background: #fafafa;
  --gold: #f5c518;
  --gray: #f0eeee;
  --dark-gray: #888;
}
