:root {
    --ff-logo:'Century Gothic', sans-serif;
    --ff-text:'Arial Narrow', sans-serif;

    --color-accent: #8b0000;
    --color-hover: #740101;
    --color-active:#F50707;
    --light: #ffffff;
    --background:#fafafa;
    --gray:#f0eeee;
}
