:root {
    --ff-title:'Century Gothic', sans-serif;
    --ff-text:'Arial Narrow', sans-serif;

    --color-accent: #8b0000;
    --color-hover: #740101;
    --color-active:#F50707;
    --light: #ffffff;
    --background:#fafafa;
    --gold: #f5c518;
    --gray:#f0eeee;
    --dark-gray: #888;
}
